@import "./rose-pine.css";

* {
  font-family: "0xProto Nerd Font";
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @text;
  background-color: @base;
}

.main {
  border-bottom: 2px solid @foam;
}

.secondary {
  border-top: 1px solid @foam;
}

#workspaces button {
  color: @text;
  padding-left: 0.35em;
  padding-right: 0.35em;
}

#workspaces button.empty {
  color: @subtle;
}

#workspaces button.active {
  color: @pine;
}

#memory,
#cpu {
  padding-left: 1em;
}

#memory.secondary,
#cpu.secondary,
#clock.secondary {
  padding-left: 0em;
  padding-right: 1em;
}

#wireplumber,
#battery,
#backlight,
#language,
#network,
#bluetooth,
#clock,
#tray {
  padding-right: 1em;
}
